<div class="container">
  <h1>Make a new post</h1>
  <form (ngSubmit)="postNewMessage()" #postForm="ngForm" name="newPost">
    <div class="form-group">
      <label for="userName">Name</label>
      <input type="text" class="form-control" [(ngModel)]="newPost.userName" id="userName" name="userName" required />
    </div>

    <div class="form-group">
      <label for="subject">Subject</label>
      <input type="text" class="form-control" [(ngModel)]="newPost.subject" id="subject" name="subject" required />
    </div>

    <div class="form-group">
      <label for="subject">Message</label>
      <textarea class="form-control" [(ngModel)]="newPost.contents" id="contents" name="contents" required></textarea>
    </div>

    <button type="submit" class="btn btn-success" [disabled]="!postForm.form.valid">Submit</button>
  </form>
</div>

<hr />

<div class="container">
  <ng-container *ngFor="let post of posts">
    <h1>{{post.userName}}: {{post.subject}} ({{post.timeStamp}})</h1>
    <form (ngSubmit)="update(post.id)" #postForm="ngForm" >
      <textarea [id]="'contents_' + post.id" [name]="'contents_' + post.id" [(ngModel)]="contents[post.id]" >{{post.contents}}</textarea>
      <div>
        <button type="submit" class="btn btn-success" [id]="'update_' + post.id">Update</button>
      </div>
    </form>
    <form (ngSubmit)="delete(post.id)" #postForm="ngForm">
      <button type="submit" class="btn btn-success" [id]="'delete' + post.id">Delete</button>
    </form>
    <hr />
  </ng-container>
</div>
